main {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.copyModal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    background-color: #2ecc71;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-out opacity;
    opacity: 1;
    overflow: hidden;
}

.copyModal::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 14rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.copyModal > * {
    visibility: inherit;
}

.copyModal p:last-child {
    font-size: 3rem;
}

.copyModal.-closed {
    opacity: 0;
}

.copyModal__textContainer {
    transform: scale(1.4);
    transition: 0.3s ease-out;
}

.copyModal__textContainer.-scaleIn {
    transform: scale(1);
}

.copyModal__textContainer.-scaleOut {
    transform: scale(0.7);
}