.FallaciesList__notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 100%;
    width: 100%;
}

.FallaciesList__notFound p{
    font-size: 1.8rem;
}

.FallaciesList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem 1.5rem;
    overflow: scroll;
    align-content: flex-start;
    width: 100%;
    max-width: var(--max-content-width);
}


@media (pointer: fine) {
    .FallaciesList {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    .FallaciesList::-webkit-scrollbar {
        display: none;
    }
}

.FallaciesList button {
    border: none;
    background-color: #fff;
    border-radius: 15rem;
    font-size: 1.7rem;
    font-family: inherit;
    padding: 1.5rem;
    flex-grow: 1;
}

.FallaciesList button:nth-child(3n) {
    flex-grow: 5;
}

.FallaciesList button:nth-child(2n) {
    flex-grow: 2;
}